*{
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	color: #24292e;
}

body{
	font-size: 14px;
}

h3{
	font-size: 1.3em;
	font-weight: 600;
}


a, a:hover{
	text-decoration: none;
}

a{
	color: #0366d6;
}
header{
	background: #24292e;
	color: #fff;
	
}

.header-link svg{
	margin-right: 16px;
}

.header-list li a{
	color: #fff;
}

.search{
	background: none;
	border: none;
	padding: 0px 12px;
	vertical-align: middle;
}

.search-box{
	width: 272px;
	height: 30px;
	margin-right: 16px;
	border-radius: 6px;
	border: 1px solid #595959;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 8px;
}

.search::placeholder{
	color: #f1f1f1;
}

.nav-link{
	color: #24292e;
	border-bottom: 1px solid #fff;
	display: flex;
	align-items: center;
	padding: 8px 16px;
}

.nav-link:hover{
	border-bottom: 1px solid rgba(0,0,0,.15);
	transition: .3s;
}

.nav-link svg{
	padding-right: 10px;
}


.secondary-nav{
	margin-top: 24px;
	width: 100%;
	position: sticky;
	align-items: center;
	border-bottom: 1px solid rgba(0,0,0,.1);
}


.secondary-nav .header-list a li{
	padding-bottom: 10px;
}

.active{
	font-weight: 500;
	border-bottom: 1px solid #f9826c;
}

.active span{
	background: #d1d5da80;
	display: flex;
	align-items: center;
	padding: 2px 5px 3px 5px;
	border-radius: 50%;
	margin-left: 4px;
	font-size: 0.75em;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}

.row{
	padding: 0 32px;
	display: flex;
	justify-content: center;
}

.col{
	padding: 0 16px;
	position: relative;
}

.col-3{
	width: 25%;
}
.col-9{
	width: 75%;
}

.profile-details{
	position: relative;
	top: -30px;
}
.avatar{
	width: 100%;
	position: relative;
}
.avatar img{
	object-fit: cover;
	max-width: 100%;
	border-radius: 60%;
	z-index: 90;
}

.smiley{
	background: #fff;
	margin: auto;
	padding: 10px;
	z-index: 91;
	border:1px solid rgba(0,0,0,.15);
	border-radius: 50%;
	top: 50%;
	right: 2%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.smiley span{
	margin-left: 8px;
}


.followers{
	display: flex;
}

.followers span{
	display: flex;
	align-items: center;
	margin-right: 4px;
}
.profile-details h3{
	padding: 16px 0;
	color: #586069;
	font-weight: 300;
	padding: 16px 0;
}

.profile-details h4{
	font-weight: 300;
	margin-bottom: 12px;
}

.profile-details button{
	margin-bottom: 16px;
	padding: 5px 16px;
	width: 100%;
}
button{
	position: relative;
	text-align: center;
	display: inline-block;
	align-items: center;
	padding: 5px 16px;
	font-weight: 500;
	white-space: nowrap;
	margin: 0;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid rgb(0,0,0,.15);
	background-color: #fafbfc;
	
}

.buttons{
	display: flex;
	justify-content: space-between;
}

.buttons button{
	flex-grow: 1;
}
.buttons button:nth-child(2){
	margin-left: 8px	
}
.buttons button:nth-child(3){
	margin-left: 16px	
}

.repo p{
	margin-bottom: 8px;
}
.repo-settings{
	padding: 16px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.repo-settings input{
	width: 100%;
	display: inline-block;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 6px;
	padding: 5px 0px;
}

.repo-settings input::placeholder{
	padding: 0 12px;
}
.repo{
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
	line-height: 1.7rem;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.repo:last-child{
	border-bottom: 0px;
}
.star{
	background-color: #fafbfc;
	border: 1px solid #959da5;
	border-radius: 6px;
	padding: 3px 12px;
	height: 28px;
	display: flex;
	align-items: center;
}

.star svg{
	margin-right: 4px;
}

.repo-details{
	font-size: 12px;
	margin-top: 16px;
}

.repo-language-color{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
}

.html{
	background-color: #e34c26;	
}

.css{
	background-color: #563d7c;
}

.javascript{
	background-color: #f1e05a;
}

footer{
	max-width: 1200px;
	padding: 40px 0;
	margin: auto;
	border-top: 1px solid rgba(0,0,0,.1);
	text-align: center;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}
footer span, footer a{
	margin: 0px 8px;
	text-align: center;
}


@media(max-width: 1024px){

	.row{
		margin: 0;
	}
	.smiley{
		top: 40%;
	}
}

@media(min-width: 768px){
	header{
		display: flex;
		align-items: center;
		padding: 16px 32px;
	}

	#header-container{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.left-nav{
		display: flex;
	}

	.header-list, .header-list li a{
		list-style: none;
		display: flex;
		align-items: center;
		padding: 0 8px;
		color: #fff;
	}

	.repo-settings{
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.repo-settings input{
		width: 100%;
		margin-right: 16px;
	}

	.small-screen{
		display: none;
		transform: scale(0);
	}

}

@media(max-width: 768px){
	.row{
		padding: 16px;
	}
	
}

@media(max-width: 767px){

	header{
		padding: 16px;
	}

	.header-link{
		display: flex;

	}

	.header-link svg{
		margin: 0;
	}

	.small-screen-header{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#hamburger-menu{
		width: 24px;
		height: 24px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

	}

	#hamburger-menu span{
		width: 21px;
		height: 3px;
		background: #fff;
		border-radius: 1px;
	}

	.col-3, .col-9{
		width: 100%;
		padding: 0px;
	}
	.container .row{
		flex-direction: column;
	}

	.row{
		padding: 0 16px;
	}


	.header-list li{
		padding: 8px 0;
		border-bottom: 1px solid grey;
	}

	.header-list li:last-child{
		border-bottom: 0px;
	}

	.large-screen{
		display: none;
	}
	.search-box{
		width: 100%;
		padding-right: 0;
	}

	.search-box svg{
		padding-right: 8px;
	}

	.secondary-nav.small-screen .col-9{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.secondary-nav.small-screen{
		display: flex;
		overflow-x: auto;
	}

	.nav-link svg{
		display: none;
	}

	.profile-details{
		top: 0;
	}

	.avatar{
		margin: 2px 0 24px 0;
		display: flex;
	}

	.avatar img{
		width: 17%;
	}

	.avatar h3{
		position: relative;
		left: 20px;
		float: right;
	}
	.smiley{
		display: flex;
		justify-content: flex-start;
		position: relative;
		border-radius: 6px;
		right: 0;
	}

	.profile-details h4{
		margin: 16px 0;
	}

	.repo{
		align-items: center;
	}

	.repo-settings input{
		margin-bottom: 16px;
	}


}

@media (max-width: 576px){
	.secondary-nav.small-screen .container .row{
		padding: 0;
	}
}